* {
    box-sizing: border-box;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 20vh 1fr;
}

img {
    height: auto;
    width: 30px;
}

.logo img {
    height: auto;
    width: 50px;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: aquamarine;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar p,
.sidebar h2 {
    margin: 0px;
}

.sub-menu1,
.sub-menu2,
.logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-items: start;
    align-items: center;
}

.sub-menu1 {
    grid-template-rows: repeat(6, 50px);
}

.sub-menu2 {
    grid-template-rows: repeat(3, 50px);
}

.sidebar img {
    justify-self: center;
}

.header {
    padding: 0px 50px 20px 50px;
    grid-column: 2 / 3;
    background-color: yellow;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.search {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search input {
    border: 0px;
    height: 24px;
    border-radius: 14px;
    flex: 1;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.greeting {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 80px 1fr;
    align-items: center;
}

.greeting img {
    grid-row: 1 / 3;
    width: 70px;
    height: auto;
    justify-self: center;
}

.greeting p {
    margin: 0px;
    align-self: end;
}

.greeting h2 {
    margin: 0px;
    align-self: start;
}


.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-buttons button {
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 20px;
    border: 0px;

}

.main-content {
    padding: 30px;
    background-color: grey;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.projects {
    grid-row: 1 / 3;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
}

.card {
    background-color: white;
    border-left: 8px solid orange;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.trend-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.announce-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.trend-card {
    display: flex;
}

.trend-card p {
    margin: 0px;
}
